<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      THE UNIVERSE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding"> 
   <!-- Question 1 -->
   <p>1. How many planets in the universe?</p>
  <ion-radio-group>
            <ion-item>
              <ion-label>A. 1</ion-label>
              <ion-radio slot="start"name="questionCat20" value="A" ></ion-radio>
            </ion-item>
           
            <ion-item>
              <ion-label>B. 9</ion-label>
              <ion-radio slot="start"name="questionCat20" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. 7</ion-label>
              <ion-radio slot="start"name="questionCat20" value="C"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D. 4</ion-label>
              <ion-radio slot="start" name="questionCat10" value="D" ></ion-radio>
            </ion-item>
  
          </ion-radio-group>
 <!-- Question 2 -->
 <p>2. What is the name of the planet we live in?</p>
<ion-radio-group>
            <ion-item>
              <ion-label>A. Mars</ion-label>
              <ion-radio slot="start"name="questionCat21" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. Sun</ion-label>
              <ion-radio slot="start"name="questionCat21" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. Earth</ion-label>
              <ion-radio slot="start"name="questionCat21" value="C"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D. Sun</ion-label>
              <ion-radio slot="start"name="questionCat21" value="D"></ion-radio>
            </ion-item>
          </ion-radio-group>
 <!-- Question 3 -->
 <p>3. How many point/s indicate the main directions in the universe?</p>
<ion-radio-group>
            <ion-item>
              <ion-label>A. 1</ion-label>
              <ion-radio slot="start"name="questionCat22" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. 4</ion-label>
              <ion-radio slot="start"name="questionCat22" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. 8</ion-label>
              <ion-radio slot="start"name="questionCat22" value="C"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D. 2</ion-label>
              <ion-radio slot="start"name="questionCat22" value="D"></ion-radio>
            </ion-item>
          </ion-radio-group> 
 <!-- QuestionCat2 4 -->
 
    <p>4. What is the name of the ocean that have warm mozambique current?</p>
  <ion-radio-group>
            <ion-item>
              <ion-label>A. Indian Ocean</ion-label>
              <ion-radio slot="start"name="questionCat23" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. Pacific Ocean</ion-label>
              <ion-radio slot="start"name="questionCat23" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. Antlatic Ocean</ion-label>
              <ion-radio slot="start"name="questionCat23" value="C"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D. Antarctic Ocean</ion-label>
              <ion-radio slot="start"name="questionCat23" value="D"></ion-radio>
            </ion-item>
          </ion-radio-group>  
 <!-- QuestionCat2 5 -->
 
    <p>5. What is the major cause of EarthQuikes </p>
  <ion-radio-group>
            <ion-item>
              <ion-label>A. Plates collision</ion-label>
              <ion-radio slot="start"name="questionCat24" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. CLimate change</ion-label>
              <ion-radio slot="start"name="questionCat24" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. Earth rotation</ion-label>
              <ion-radio slot="start"name="questionCat24" value="C"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D. Car accidents</ion-label>
              <ion-radio slot="start"name="questionCat24" value="D"></ion-radio>
            </ion-item>
          </ion-radio-group>
            <button (click)="returnScoreCat2()" routerLink="/home">View Results</button>
            <!-- <div id="results"><b>Your Score</b><br>{{scoreCat2}} <br>
            
            </div> -->
  </div>
</ion-content>
