<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     SOUTH AFRICAN POLITICS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">  
    
<!-- Question 1 -->
  <p>1. What is the of the first black president in South Africa?</p>
  
          <ion-radio-group>
           
            <ion-item>
              <ion-label>A. Mandela</ion-label>
              <ion-radio slot="start"name="questionCat10" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. Zuma</ion-label>
              <ion-radio slot="start"name="questionCat10" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. DeClerk</ion-label>
              <ion-radio slot="start"name="questionCat10" value="C"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>D. Julius</ion-label>
                <ion-radio slot="start"name="questionCat10" value="D"></ion-radio>
              </ion-item>
          </ion-radio-group>
        
 <!-- Question 2 -->
 
    <p>2. Which one of the following is the biggest political party?</p>
  
          <ion-radio-group>
           
            <ion-item>
              <ion-label>A. EFF</ion-label>
              <ion-radio slot="start"name="questionCat11" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. DA</ion-label>
              <ion-radio slot="start"name="questionCat11" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. ANC</ion-label>
              <ion-radio slot="start"name="questionCat11" value="C"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>D. COPE</ion-label>
                <ion-radio slot="start"name="questionCat11" value="D"></ion-radio>
              </ion-item>
          </ion-radio-group>
        
 <!-- Question 3 -->
 <p>3. Who is the president of EFF?</p>
  
          <ion-radio-group>
           
            <ion-item>
              <ion-label>A. Cyril Ramaphosa</ion-label>
              <ion-radio slot="start"name="questionCat12" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. Julius Malema</ion-label>
              <ion-radio slot="start"name="questionCat12" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. Jacob Zuma</ion-label>
              <ion-radio slot="start"name="questionCat12" value="C"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>D. Declark</ion-label>
                <ion-radio slot="start"name="questionCat12" value="D"></ion-radio>
              </ion-item>
          </ion-radio-group>
        
 <!-- Question 4 -->
 
    <p>4. What is the leading political party in South Africa?</p>
  
          <ion-radio-group>
           
            <ion-item>
              <ion-label>A. ANC</ion-label>
              <ion-radio slot="start"name="questionCat13" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. EFF</ion-label>
              <ion-radio slot="start"name="questionCat13" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. COPE</ion-label>
              <ion-radio slot="start"name="questionCat13" value="C"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>D. DA</ion-label>
                <ion-radio slot="start"name="questionCat13" value="D"></ion-radio>
              </ion-item>
          </ion-radio-group>
        
 <!-- Question 5 -->
 
    <p>5. South African parliament is in which province? </p>
  
          <ion-radio-group>
           
            <ion-item>
              <ion-label>A. Gauteng</ion-label>
              <ion-radio slot="start"name="questionCat14" value="A" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>B. Limpopo</ion-label>
              <ion-radio slot="start"name="questionCat14" value="B"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>C. Mpumalanga</ion-label>
              <ion-radio slot="start"name="questionCat14" value="C"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>D. Free State</ion-label>
                <ion-radio slot="start"name="questionCat14" value="D"></ion-radio>
              </ion-item>
          </ion-radio-group>
        
  
  <button (click)="returnScoreCat1()" routerLink="/home">View Results</button>
  <!-- <div id="results"><b>Your Score</b><br>{{scoreCat1}} <br> -->
  
  <!-- </div> -->
</div>
</ion-content>
