<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CHRISTIAN RELIGION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <!-- Question 1 -->
  <p>1. According to the Bible, Jesus was at a wedding in Cana when he turned water into what?</p>
  <ion-radio-group>
          <ion-item>
            <ion-label>A. Milk</ion-label>
            <ion-radio slot="start"name="questionCat30" value="A" ></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>B. Water</ion-label>
            <ion-radio slot="start"name="questionCat30" value="B"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>C. Juice</ion-label>
            <ion-radio slot="start"name="questionCat30" value="C"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>D. Wine</ion-label>
            <ion-radio slot="start"name="questionCat30" value="D" ></ion-radio>
          </ion-item>
    </ion-radio-group>
  <!-- Question 2 -->
  
  <p>2. According to the Bible, Jesus was baptised in which river?</p>
  <ion-radio-group>
          <ion-item>
            <ion-label>A. Jordan river</ion-label>
            <ion-radio slot="start"name="questionCat31" value="A" ></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>B. Limpopo river</ion-label>
            <ion-radio slot="start"name="questionCat31" value="B"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>C. Vaal river</ion-label>
            <ion-radio slot="start"name="questionCat31" value="C"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>D. Nile river</ion-label>
            <ion-radio slot="start"name="questionCat31" value="D"></ion-radio>
          </ion-item>
  </ion-radio-group>     
  <!-- Question 3 -->
  <p>3. Which Biblical figure destroyed the Temple of the Philistines?</p>
  <ion-radio-group>
          <ion-item>
            <ion-label>A. Samson</ion-label>
            <ion-radio slot="start"name="questionCat32" value="A" ></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>B. Jesus</ion-label>
            <ion-radio slot="start"name="questionCat32" value="B"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>C. Eve</ion-label>
            <ion-radio slot="start"name="questionCat32" value="C"></ion-radio>
          </ion-item>

        <ion-item>
            <ion-label>D. Ruth</ion-label>
            <ion-radio slot="start"name="questionCat32" value="D"></ion-radio>
          </ion-item>
  </ion-radio-group>
  <!-- Question 4 -->
  
  <p>4. According to the bible, what did David use to kill Giliath?</p>
  <ion-radio-group>
          <ion-item>
            <ion-label>A. Gun</ion-label>
            <ion-radio slot="start"name="questionCat33" value="A" ></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>B. Stone</ion-label>
            <ion-radio slot="start"name="questionCat33" value="B"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>C. Knife</ion-label>
            <ion-radio slot="start"name="questionCat33" value="C"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>D. Poison</ion-label>
            <ion-radio slot="start"name="questionCat33" value="D"></ion-radio>
          </ion-item>
  </ion-radio-group> 
  <!-- Question 5 -->
  
  <p>5. According to the Bible, what was the first bird to be sent out of the Ark by Noah? </p>
  
      <ion-radio-group>
         
          <ion-item>
            <ion-label>A. Sparrow</ion-label>
            <ion-radio slot="start"name="questionCat34" value="A" ></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>B. Hawk</ion-label>
            <ion-radio slot="start"name="questionCat34" value="B"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>C. Raven</ion-label>
            <ion-radio slot="start"name="questionCat34" value="C"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>D. Parrot</ion-label>
            <ion-radio slot="start"name="questionCat34" value="D"></ion-radio>
          </ion-item>
      </ion-radio-group>
          <button (click)="returnScoreCat3()" routerLink="/home">View Results</button>
          <!-- <div id="results"><b>Your Score</b><br>{{scoreCat3}} <br>
          
          </div> -->
  </div>
</ion-content>
